In [3]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [2]:
my_ser=Series([1,2,3,4], index=['A','B','C','D'])
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [6]:
index=my_ser.index

In [10]:
index[3]

'D'

In [12]:
index[:2]

Index(['A', 'B'], dtype='object')

In [13]:
index[2:]

Index(['C', 'D'], dtype='object')

In [10]:
from numpy.random import *

In [31]:
dframe=DataFrame(randn(25).reshape(5,5),index=['A','B','D','E','F'], columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A  0.211485 -2.228426 -0.865230 -0.553065 -0.232992
B -0.263197 -0.333707 -1.930503  0.100937  1.454852
D -1.313265 -2.216246 -1.426657 -0.074241 -0.602964
E -0.367827 -0.051027 -0.968589  1.765384  0.718014
F -1.374534 -1.236548 -1.402219  0.204486  0.725415

In [34]:
dframe2=dframe.ix[['A','B','C','D','E','F'],['col1','col2','col3','col4','col5','col6']]
dframe2

C:\Users\DELL\Miniconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
C:\Users\DELL\Miniconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

       col1      col2      col3      col4      col5  col6
A  0.211485 -2.228426 -0.865230 -0.553065 -0.232992   NaN
B -0.263197 -0.333707 -1.930503  0.100937  1.454852   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.313265 -2.216246 -1.426657 -0.074241 -0.602964   NaN
E -0.367827 -0.051027 -0.968589  1.765384  0.718014   NaN
F -1.374534 -1.236548 -1.402219  0.204486  0.725415   NaN

In [37]:
dframe3=dframe.reindex(['A','B','C','D','E','F'],columns=['col1','col2','col3','col4','col5','col6'],fill_value=0)
dframe3

       col1      col2      col3      col4      col5  col6
A  0.211485 -2.228426 -0.865230 -0.553065 -0.232992   0.0
B -0.263197 -0.333707 -1.930503  0.100937  1.454852   0.0
C  0.000000  0.000000  0.000000  0.000000  0.000000   0.0
D -1.313265 -2.216246 -1.426657 -0.074241 -0.602964   0.0
E -0.367827 -0.051027 -0.968589  1.765384  0.718014   0.0
F -1.374534 -1.236548 -1.402219  0.204486  0.725415   0.0

In [ ]:
dframe