In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [8]:
df_left=DataFrame({'key':['X','Y','Z','X','Y'],'data':range(5)})

In [9]:
df_left

  key  data
0   X     0
1   Y     1
2   Z     2
3   X     3
4   Y     4

In [15]:
df_right=DataFrame({'key':['X','Y'],'group_data':[10,20]})
df_right

  key  group_data
0   X          10
1   Y          20

In [16]:
pd.merge(df_left,df_right,on='key',how='outer')

  key  data  group_data
0   X     0        10.0
1   X     3        10.0
2   Y     1        20.0
3   Y     4        20.0
4   Z     2         NaN

In [25]:
df_left_hr=DataFrame({'data_set':np.arange(5),'key1':['SF','SF','SF','LA','LA'],'key2':[10,20,30,20,30]})

In [26]:
df_right_hr=DataFrame(np.arange(10).reshape(5,2),index=[['LA','LA','SF','SF','SF'],[20,10,10,10,20]],columns=['col_1','col_2'])

In [27]:
df_right_hr

       col_1  col_2
LA 20      0      1
   10      2      3
SF 10      4      5
   10      6      7
   20      8      9

In [28]:
df_left_hr

   data_set key1  key2
0         0   SF    10
1         1   SF    20
2         2   SF    30
3         3   LA    20
4         4   LA    30

In [29]:
pd.merge(df_left_hr,df_right_hr,left_on=['key1','key2'],right_index=True)

   data_set key1  key2  col_1  col_2
0         0   SF    10      4      5
0         0   SF    10      6      7
1         1   SF    20      8      9
3         3   LA    20      0      1

In [33]:
df_left.join(df_right)

ValueError: columns overlap but no suffix specified: Index(['key'], dtype='object')